/* LOGIN PAGE */

.wrapper {
    width: 500px;
    background:   rgba(80, 154, 250, 0.356);
    color: #ffff;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center; /* Center align content */
    margin: 180px auto 0; /* Center align the box horizontally */
    height: auto;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: calc(80% - -30px); /* Adjusted width to accommodate icon */
    height: 100%;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    font-size: 17px;
    color: #fff;
    padding: 30px 30px; /* Adjusted padding */
}

.password-toggle {
    position: absolute;
    top: 80%;
    right: 60px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 0px;
    top: 60%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 15px 0; /* Adjusted margin */
    font-weight: 500;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper button {
    width: 50%;
    height: 50px; /* Adjusted height */
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 800;
    margin: 30px; /* Center alignment */
}


.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.google-icon, .facebook-icon, .twitter-icon {
    font-size: 40px; /* Set the size of the icons */
    color: #fff; /* Set the color of the icons */
    margin-right: 20px; /* Add some spacing between the icons */
}

/* For Login and Signup buttons */
.wrapper button {
    transition: transform 0.3s ease;
}

.wrapper button:hover {
    transform: scale(1.1);
}

/* For icons */
.wrapper .icon {
    transition: transform 0.3s ease;
}

.wrapper .icon:hover {
    transform: scale(1.1);
}

/* For icons */
.wrapper .icon,
.wrapper .google-icon,
.wrapper .facebook-icon,
.wrapper .twitter-icon {
    transition: transform 0.3s ease;
}

.wrapper .icon:hover,
.wrapper .google-icon:hover,
.wrapper .facebook-icon:hover,
.wrapper .twitter-icon:hover {
    transform: scale(1.5);
}

/* SIGNUP PAGE */

.signup-wrapper {
    width: 525px;
    background: rgba(80, 154, 250, 0.356);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
    margin: 180px auto 0;
}

.signup-wrapper h1 {
    font-size: 40px;
}

.signup-wrapper .input-box {
    position: relative; /* Add position relative to allow absolute positioning of icons */
    margin-bottom: 20px;
}

.signup-wrapper .input-box input {
    width: calc(100% - 70px);
    height: 60px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
}

.signup-wrapper .icon {
    position: absolute; /* Position the icon relative to its container */
    top: 40%; /* Align the icon vertically */
    left: 420px; /* Adjust the left position as needed */
    transform: translateY(-50%); /* Center the icon vertically */
    color: #fff; /* Icon color */
    cursor: pointer;
    font-size: 20px;
}

.signup-wrapper .icon:hover{
    transition: transform 0.3s ease;
    transform: scale(1.4); /* Increase size on hover */
}

.signup-wrapper button {
    width: 50%;
    height: 55px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 800;
}

.signup-wrapper button:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1); /* Increase size on hover */
}

.password-toggle {
    position: absolute;
    top: 50%; /* Adjust position vertically */
    right: 40px; /* Adjust position horizontally */
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
}

.google-icon, .facebook-icon, .twitter-icon {
    font-size: 40px; /* Set the size of the icons */
    color: #fff; /* Set the color of the icons */
    margin-right: 20px; /* Add some spacing between the icons */
    cursor: pointer;
}

.google-icon:hover, .facebook-icon:hover, .twitter-icon:hover {
    transition: transform 0.3s ease;
    transform: scale(1.5); /* Increase size on hover */
}

/* NAVBAR PAGE */

.NavBarItems {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        padding: 0 80px;
        background-color: rgba(0, 0, 0, 0.781);
        box-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.25);
        width: 80%;
        height: 100px;
        border-radius: 20px;
        position: fixed;
        top: 10px;
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Center horizontally */
}
    

.logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    font-size: 50px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
}

.nav-links{
    text-decoration: none;
    color: #fff;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-links i {
    padding-right: 10px;
}

.nav-links:hover {
    background: rgb(80, 80, 238);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.fa-bars, 
.fa-times {
    color: #fff;
}

.menu-icons {
    display: none;
}

.nav-links-mobile.signup {
    color: #fff; /* Set text color to white */
    background-color: transparent; /* Set background color to transparent */
    border: 2px solid #fff; /* Add border */
    border-radius: 5px; /* Add border radius */
    padding: 0.5rem 1rem; /* Adjust padding */
    cursor: pointer; /* Set cursor to pointer */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease; /* Add transition */
}

.nav-links-mobile.signup:hover {
    background-color: #fff; /* Change background color to white on hover */
    color: #000; /* Change text color to black on hover */
}

.nav-link-mobile {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    background-color: #fafafa;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1rem;
    color: #222;
}

@media screen and (max-width: 850px) {
    .NavBarItems {
        z-index: 99;
    }
  
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgb(31, 38, 135), 0.37;
        backdrop-filter: blur(4px);
        border-radius: 13px;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -110%;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: 1;
        transition: 0.3s ease-in-out;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-links {
        display: block;
        width: 100%; /* Correct typo "widows" to "width" */
        padding: 2rem;
        color: #222;
    }

    .nav-links:hover {
        background-color: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(20px);
    }

    .menu-icons {
        display: block;
    }

    .nav-link-mobile {
        padding: 1.5rem;
        display: block;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
        width: 80%;
        margin: auto;
    }
}

/* PROFILE PAGE */

.profile-picture-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff; /* Add a border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow */
  }
  
  .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-picture-placeholder {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0; /* Change background color */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999; /* Change placeholder color */
    font-size: 24px; /* Change placeholder font size */
  }


  /* SETTINGS PAGE */
  
.settings-page {
    width: 1000px;
    background: #add8e6;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: left; /* Center align content */
    margin: 200px auto 0; /* Center align the box horizontally */
    height: 1000px; 
    font-size: 20px;
  }
  
  .description-section {
    text-align: left;
  }
  
  .description-section h1 {
    font-size: 50px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
  }
  
  .contact-us-section {
    margin-top: 50px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
  }

  .contact-section {
    margin-top: 8px;
  }
  
  .social-media-icons {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    margin-top: 290px;
  }
  
  .icons a {
    font-size: 45px;
  }
  
  